<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= locals.title %> | File Uploader (The Odin Project)</title>
<meta name="description" content="Mini personal storage service" />
<link rel="stylesheet" href="reset.css" />
<link rel="stylesheet" href="style.css" />
