<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: "Upload a file" }) %>
    <link rel="stylesheet" href="/form.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <h1>create a folder</h1>
      <%# TODO: check errors %>
      <%- include('partials/errors') %>
      <form action="/folders/create" method="post" class="form">
        <div class="input-field">
          <label for="name">name</label>
          <input type="text" name="name" id="name" />
        </div>
        <button type="submit" class="primary">submit</button>
      </form>
    </main>
  </body>
</html>
