<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: "Home" }) %>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <a href="/files/upload">upload a file</a>
      <h1>files</h1>
    </main>
  </body>
</html>
