<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: "Home" }) %>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <h1>hello world</h1>
    </main>
  </body>
</html>
