<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head', { title: "Sign up" }) %>
    <link rel="stylesheet" href="/form.css" />
  </head>
  <body>
    <main>
      <h1>sign up</h1>
      <%- include('partials/errors') %>
      <form action="" method="post" class="form">
        <div class="input-field">
          <label for="username">username</label
          ><input
            type="text"
            name="username"
            id="username"
            autocomplete="username"
          />
        </div>
        <div class="input-field">
          <label for="password">password</label
          ><input
            type="password"
            name="password"
            id="password"
            autocomplete="new-password"
          />
        </div>
        <button type="submit" class="primary">submit</button>
      </form>
    </main>
  </body>
</html>
